= render "devise/registrations/user_header"

%main.main

  .signup-panel
    %p.signup-panel__title 会員情報入力

    = form_for @user, url: step2_signup_path, method: :get, html: {class: 'first-main__box'} do |f|
      = devise_error_messages!

      .signup-form
        -# first-page TODO JSで動的な動き導入予定
        .field
          %label{for: "nickname"} ニックネーム
          %span.form-require
          = f.text_field :nickname, class: "field__input", placeholder: "例）メルカリ太郎"
        .field
          %label{for: "email"} メールアドレス
          %span.form-require
          %input{class: "field__input", autocomplete: "email", placeholder: "PC・携帯どちらでも可"}
        .field
          %label{for: "password"} パスワード
          %span.form-require
          %input{class: "field__input", autocomplete: "email", placeholder: "6文字以上"}
        .field
          %label{for: "password"} パスワード（確認）
          %span.form-require
          %input{class: "field__input", autocomplete: "password", placeholder: "6文字以上"}

        .field
          %h3 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません

        .field
          %label{for: "fitst_name_kanji"} 姓（全角）
          %span.form-require
          %input{class: "field__input", autocomplete: "family_name_kanji", placeholder: "例）山田"}
        .field
          %label{for: "last_name_kanji"} 名（全角）
          %span.form-require
          %input{class: "field__input", autocomplete: "farst_name_kanji", placeholder: "例）太郎"}
        .field
          %label{for: "first-name-katakana"} 姓カナ（全角）
          %span.form-require
          %input{class: "field__input", placeholder: "例）ヤマダ"}
        .field
          %label{for: "last_name_katakana"} 名カナ（全角）
          %span.form-require
          %input{class: "field__input",  placeholder: "例）タロウ"}
        .field
          %label{for: "birthday"} 生年月日
          %span.form-require
          .pulldown
            .select-wrap
              -# -# TODO 日付を閏年に対応させること
              -# = raw sprintf(f.date_select( :birthday, 
              -#   prompt: "--",
              -#    use_two_digit_numbers: true,
              -#    start_year: Time.now.year,
              -#    end_year: 1900,
              -#    date_separator: '%s'),
              -#    '年 ', '月 ') + '日'
      
          %p.form-info
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        
        .field
          %p 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          %p 
      .sign-up-btn
        %button{type: "submit",class: "btn-red"}
          次へ進む
      -#     .field
      -#       -# TODO userテーブル作成後紐付け反映させるすること
      -#     = recaptcha_tags

      .signup-panel
        %p.signup-panel__title 電話番号の確認   
        .signup-form
          .field
            %label{for: "phone_number"} 携帯電話の番号
            %span.form-require
            %input{class: "field__input", autocomplete: "phone_number", placeholder: "携帯電話の番号を入力"}
            %p.form-info--tell
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .sign-up-btn
            %button{type: "submit",class: "btn-red"}
              SMSを送信する
            %p  ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。    
          .forgot-password
            = link_to "/users/password/new" do
              電話番号が必要な理由
              = fa_icon "chevron-right", class: "arrow"
      
    
      .signup-panel
        %p.signup-panel__title 住所入力
        -# = f.fields_for :user_address, @user.build_user_address do |i|     
        .signup-form
          .field
            %label{for: "name"} お名前
            %span.form-require
            %input{class: "field__input", autocomplete: "family_name_kanji", placeholder: "例）山田"}
            %input{class: "field__input", autocomplete: "farst_name_kanji", placeholder: "例）太郎"}
          .field
            %label{for: "name_kana"} お名前カナ
            %span.form-require
            %input{class: "field__input", placeholder: "例）ヤマダ"}
            %input{class: "field__input",  placeholder: "例）タロウ"}
          .field
            %label{for: "postal_code"} 郵便番号
            %span.form-require
            %input{class: "field__input",  placeholder: "例）123−4567"}
          .field
            %label{for: "prefecture"} 都道府県
            %span.form-require
            %select{class: "field__input",  placeholder: "例）東京都港区"}
          .field  
            %label{for: "city"} 市区町村
            %span.form-require
            %input{class: "field__input",  placeholder: "例）東京都港区"}
          .field
            %label{for: "address"} 番地
            %span.form-require
            %input{class: "field__input",  placeholder: "例）青山1-1-1"}
          .field
            %label{for: "building"} 建物名
            %span.form-require--gray
            %input{class: "field__input",  placeholder: "例）テキスパタワー101"}
          .field
            %label{for: "phone_number"} 電話
            %span.form-require--gray
            %input{class: "field__input",  placeholder: "例）09012345678"}
            .sign-up-btn
        .sign-up-btn
          %button{type: "submit",class: "btn-red"}
            次へ進む

      .signup-panel
      %p.signup-panel__title--address 支払い方法

      -# %h2.login Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .signup-form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .signup-form
              .field
                %label{for: "nickname"} カード番号
                %span.form-require
                = f.email_field :email, class: "field__input", autocomplete: "email", placeholder: "例）山田"
              .field
                %label{for: "nickname"} 有効期限
                %span.form-require 必須
                .pulldown
                  .select-wrap
                    %select{name: "year", class: "select-wrap__default"}
                      %option --
                      = (01..12).each do |year|
                        %option{value: year}
                          = year
                  %span 年
              
                
                .pulldown
                  .select-wrap
                    %select{name: "year", class: "select-wrap__default"}
                      %option --
                      = (01..12).each do |month|
                        %option{value: month}
                          = month
                  %span 月
              .field
                %label{for: "nickname"} セキュリティコード
                %span.form-require
                = f.email_field :email, class: "field__input", autocomplete: "email", placeholder: "カード背面4桁もしくは3桁の番号"
          .forgot-password--credit-card
            = link_to "カード背面番号とは?", new_user_session_path
          .sign-up-btn
            %button{type: "submit",class: "btn-red"}
              次へ進む
          
      .signup-panel
      %p.signup-panel__title--address 会員登録完了

      #new_user
        .thankyou
          %p ありがとうございます。
          %p 会員登録が完了しました。

        .sign-up-btn
          %button{type: "submit",class: "btn-red"}
            メルカリをはじめる
            
= render "devise/user/user_footer"