= render "devise/registrations/user_header"

%main.main

  .signup-panel
    %p.signup-panel__title 電話番号の確認   

    = form_for @user, url: step3_signup_index_path, method: :get, html: {class: "inputForm"} do |f|
      -# = devise_error_messages!
      .signup-form
        .field
          %label{for: "phone_number"} 携帯電話の番号
          %span.form-require
          %input{class: "field__input", autocomplete: "phone_number", placeholder: "携帯電話の番号を入力"}
          %p.form-info--tell
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .sign-up-btn
          %button{type: "submit",class: "btn-red"}
            SMSを送信する
          %p  ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。    
        .forgot-password
          = link_to "/users/password/new" do
            電話番号が必要な理由
            = fa_icon "chevron-right", class: "arrow"
            
= render "devise/user/user_footer"