= render "devise/registrations/user_header_3"

%main.main
  .signup-panel
    %p.signup-panel__title 住所入力
    = form_for @user, url: signup_index_path, method: :post, html: {class: "inputForm"} do |f|
      = f.fields_for :user_address do |p|
        .signup-panel
          .signup-form
            .field
              = p.label "お名前"
              %span.form-require
              = p.text_field :last_name, class: "field__input", placeholder: "例）山田"
              = p.text_field :first_name, class: "field__input", placeholder: "例）太郎"
            .field
              = p.label "お名前カナ"
              %span.form-require
              = p.text_field :last_name_kana, class: "field__input", placeholder: "例）ヤマダ"
              = p.text_field :first_name_kana, class: "field__input", placeholder: "例）タロウ"
        .signup-form
          .field
            = p.label :postal_code, "郵便番号"
            %span.form-require
            = p.text_field :postal_code, class: "field__input", placeholder: "例）123-4567"
          .field
            = p.label :prefecture, "都道府県"
            %span.form-require
            = p.collection_select :prefecture, Pref.all, :id, :name, {prompt: "---"}

          .field
            = p.label :city, "市区町村"
            %span.form-require
            = p.text_field :city, class: "field__input", placeholder: "例）港区"
          .field
            = p.label :address, "番地"
            %span.form-require
            = p.text_field :address, class: "field__input", placeholder: "例）青山1-1-1"
          .field
            = p.label :building, "建物名"
            %span.form-require--gray
            = p.text_field :building, class: "field__input", placeholder: "例）テキスパタワー101"
            .sign-up-btn
      .sign-up-btn
        = f.submit "次へ進む", class: "btn-red"
        
= render "devise/user/user_footer"