= render "devise/registrations/user_header_4"
-# 保存先のテーブル要注意
-# card_number、expiration_date、security_codeは仮名
%main.main

  .signup-panel
    %p.signup-panel__title 支払い方法
    %form#new_user.inputForm
      .signup-panel  
        .signup-form
          .field
            %label カード番号
            %span.form-require
            %input#user_email.field__input{placeholder: "例）半角数字のみ", type: "email"}
            %ul.card__form__content--number--cards
              %li
                = image_tag"credit_cards/visa.svg",size: "40x20"
              %li
                = image_tag"credit_cards/master-card.svg",size: "34x20"
              %li
                = image_tag"credit_cards/saison-card.svg",size: "30x20"
              %li
                = image_tag"credit_cards/jcb.svg",size: "32x20"
              %li
                = image_tag"credit_cards/american_express.svg",size: "32x20"
              %li
                = image_tag"credit_cards/dinersclub.svg",size: "32x20"
              %li
                = image_tag"credit_cards/discover.svg",size: "32x20"
          .field
            %label 有効期限
            %span.form-require
            .pulldown
              .select-wrap
                %select{name: "year", class: "select-wrap__default"}
                  %option --
                  = (1930..2020).each do |year|
                    %option{value: year}
                      = year
              %span 年
            .pulldown
              .select-wrap
                %select{name: "year", class: "select-wrap__default"}
                  %option --
                  = (01..12).each do |month|
                    %option{value: month}
                      = month
              %span 月
          .field
            %label セキュリティコード
            %span.form-require
            %input#user_email.field__input{placeholder: "カード背面4桁もしくは3桁の番号", type: "email"}
        .forgot-password--credit-card
          = link_to "カード背面番号とは?", new_user_session_path
        .sign-up-btn
          %button.btn-red{type: "submit"}
            = link_to '次へ進む', user_complete_signup_index_path(), class: "btn-text"
= render "devise/user/user_footer"