= render "shared/header"
- breadcrumb :identification
= render 'shared/breadcrumbs'

.wrapper
  .container-mypage
    =render "users/side_bar"
    
    .mains
      .signup-panel
        .signup-panel__title--adress2 本人情報の登録
        .text-right 
          %p
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        .text-lower-right
          = link_to "本人確認書類のアップロードについて", "/mypage"
          %i.fa.fa-chevron-right
        .text-name
          %label
            お名前
          %p
            = "#{current_user.first_name}#{current_user.last_name}"
        .text-name
          %label お名前カナ
          %p
            = "#{current_user.first_name_kana}#{current_user.last_name_kana}"
        .text-name
          %label 生年月日
          %p
            =current_user.birthday
        = fields_for :user_address do |p|
          .signup-form
            .field
              %label{for: "postal_code"} 郵便番号
              %span.form-require--gray
              = p.text_field :postal_code, class: "field__input", placeholder: "例）123−4567"
            .field
              %label{for: "prefecture"} 都道府県
              %span.form-require--gray
              = p.text_field :prefecture, class: "field__input", placeholder: "例）東京都"
            .field  
              %label{for: "city"} 市区町村
              %span.form-require--gray
              = p.text_field :city, class: "field__input", placeholder: "例）港区"
            .field
              %label{for: "address"} 番地
              %span.form-require--gray
              = p.text_field :address, class: "field__input", placeholder: "例）青山1-1-1"
            .field
              %label{for: "building"} 建物名
              %span.form-require--gray
              = p.text_field :building, class: "field__input", placeholder: "例）テキスパタワー101"
          .sign-up-btn2
            %button{type: "submit",class: "btn-red2"}
              登録する
        .text-lower-bottom
          = link_to "本人情報の登録について", "/mypage"
          %i.fa.fa-chevron-right
= render "shared/footer"