= render "shared/header"

%main.items-index-main
  .main-image
    = link_to "", target: "_blank" do
      = image_tag '/images/top_visual_camp.png', alt: 'メルカリなら新品も中古もお得！キャンプ用品 大特集！'
  .popular-menu
    .popular-menu--category
      %h2 人気のカテゴリー
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'レディース', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'メンズ', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to '家電・スマホ・カメラ', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'おもちゃ・ホビー・グッズ', "", class: 'popular-menu__links__list__link_btn'
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          レディース新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @lady_items.present?
          - @lady_items.each do |item|
            =render partial: "items-list", collection: @lady_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          メンズ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @man_items.present?
          - @man_items.each do |item|
            =render partial: "items-list", collection: @man_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          家電・スマホ・カメラ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @appliance_items.present?
          - @appliance_items.each do |item|
            =render partial: "items-list", collection: @appliance_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          おもちゃ・ホビー・グッズ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @hobby_items.present?
          - @hobby_items.each do |item|
            =render partial: "items-list", collection: @hobby_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .popular-menu
    .popular-menu--category
      %h2 人気のブランド
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'シャネル', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ルイヴィトン', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'シュプリーム', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ナイキ', "", class: 'popular-menu__links__list__link_btn'
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          シャネル新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @channel_items.present?
          - @channel_items.each do |item|
            =render partial: "items-list", collection: @channel_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          ルイヴィトン新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @vuitton_items.present?
          - @vuitton_items.each do |item|
            =render partial: "items-list", collection: @vuitton_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          シュプリーム新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @supreme_items.present?
          - @supreme_items.each do |item|
            =render partial: "items-list", collection: @supreme_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3.items-container__upper-part__title
          ナイキ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @nike_items.present?
          - @nike_items.each do |item|
            =render partial: "items-list", collection: @nike_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

= render "shared/footer"
= render "shared/sell-button"