= render "shared/header"

%main.items-index-main
  .main-image
    = link_to "", target: "_blank" do
      =image_tag 'top_visual_camp', alt: 'メルカリなら新品も中古もお得！キャンプ用品 大特集！'
  .popular-menu
    .popular-menu--category
      %h2 人気のカテゴリー
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'レディース', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'メンズ', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to '家電・スマホ・カメラ', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'おもちゃ・ホビー・グッズ', "", class: 'popular-menu__links__list__link_btn'
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            レディース新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box 
            -# - @cat_no1.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to show_items_path(item), class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)

  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            メンズ新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @cat_no2.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)

  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            家電・スマホ・カメラ新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @cat_no3.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            おもちゃ・ホビー・グッズ新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @cat_no8.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
  .popular-menu
    .popular-menu--category
      %h2 人気のブランド
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'シャネル', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ルイヴィトン', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'シュプリーム', "", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ナイキ', "", class: 'popular-menu__links__list__link_btn'
  
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            シャネル新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @brand_no1.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            ルイヴィトン新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @brand_no3.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            シュプリーム新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @brand_no4.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
  
  .items-container-wrapper
    .items-container-wrapper--category
      .items-container
        .items-container__upper-part
          %h3.items-container__upper-part__title
            ナイキ新着アイテム
          =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
        .items-container__lower-part
          .items-container__lower-part__items-box
            -# - @brand_no6.each do |item|
              .items-container__lower-part__items-box__list
                -# = link_to "m#{item.id}", class: "item_link" do
                -#   %figure
                -#   .items-container__lower-part__items-box__list--sold-out
                -#     = image_tag item.images[0].image_url.url
                -#     - unless item.status == 0
                -#       .items-container__lower-part__items-box__list--sold-out--box
                -#       .items-container__lower-part__items-box__list--sold-out--text SOLD
                  .item_link__information
                    -# %h3 #{item.name}
                    .item_link__information__num
                      -# .item_link__information__num--price ¥#{converting_to_jpy(item.price)}
                      -# .item_link__information__num--good GOOD
                    %p (税込)
  
= render "shared/footer"