= render "shared/header"

%main.items-index-main
  .main-image
    = link_to "", target: "_blank" do
      = image_tag '/images/top_visual_camp.png', alt: 'メルカリなら新品も中古もお得！キャンプ用品 大特集！'
  .popular-menu
    .popular-menu--category
      %h2 人気のカテゴリー
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'レディース', "#ladies", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'メンズ', "#mens", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to '家電・スマホ・カメラ', "#electrics", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'おもちゃ・ホビー・グッズ', "#toys", class: 'popular-menu__links__list__link_btn'
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#ladies.items-container__upper-part__title
          レディース新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @lady_items.present?
          =render partial: "items-list", collection: @lady_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#mens.items-container__upper-part__title
          メンズ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @man_items.present?
          =render partial: "items-list", collection: @man_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#electrics.items-container__upper-part__title
          家電・スマホ・カメラ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @appliance_items.present?
          =render partial: "items-list", collection: @appliance_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#toys.items-container__upper-part__title
          おもちゃ・ホビー・グッズ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @hobby_items.present?
          =render partial: "items-list", collection: @hobby_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .popular-menu
    .popular-menu--category
      %h2 人気のブランド
      .popular-menu__links
        %ul.popular-menu__links__list
          %li.popular-menu__links__list__link
            =link_to 'シャネル', "#chanel", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ルイヴィトン', "#vuitton", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'シュプリーム', "#supreme", class: 'popular-menu__links__list__link_btn'
          %li.popular-menu__links__list__link
            =link_to 'ナイキ', "#nike", class: 'popular-menu__links__list__link_btn'
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#chanel.items-container__upper-part__title
          シャネル新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @channel_items.present?
          =render partial: "items-list", collection: @channel_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#vuitton.items-container__upper-part__title
          ルイヴィトン新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @vuitton_items.present?
          =render partial: "items-list", collection: @vuitton_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#supreme.items-container__upper-part__title
          シュプリーム新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @supreme_items.present?
          =render partial: "items-list", collection: @supreme_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"
  
  .items-container-wrapper
    .items-container
      .items-container__upper-part
        %h3#nike.items-container__upper-part__title
          ナイキ新着アイテム
        =link_to 'もっと見る', "", class: 'items-container__upper-part__more'
      .items-container__lower-part
        - if @nike_items.present?
          =render partial: "items-list", collection: @nike_items, as: :item
        - else
          .nothing-block
            = fa_icon "ban", class: "nothing-block-icon"

= render "shared/footer"
= render "shared/sell-button"