.item-listing
  .header
    = link_to root_path, class: 'link' do
      = image_tag('logo.svg', class: 'link__logo')
  .item-container
    %h2.title 商品の情報を入力
    .form
      = form_with(model: @item, local: true, multipart: true) do |f|
        .image
          %h3.image__title
            出品画像
            %span.required 必須
          %p.image__attention 最大10枚までアップロードできます（選択ボタンを押してください）
          = fields_for @image do |fi|
            %ul.image__upload
              %li.upload-form
                %p.upload-form__num ①
                = fi.label :image, class: 'upload-form__select-btn', for: 'image0' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id:'image0'
                  選択
                #image0_rmv.upload-form__remove-btn 削除
                #image0_name.upload-form__name 
              %li.upload-form
                %p.upload-form__num ②
                = fi.label :image, class: 'upload-form__select-btn', for: 'image1' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image1'
                  選択
                #image1_rmv.upload-form__remove-btn 削除
                #image1_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ③
                = fi.label :image, class: 'upload-form__select-btn', for: 'image2' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image2'
                  選択
                #image2_rmv.upload-form__remove-btn 削除
                #image2_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ④ 
                = fi.label :image, class: 'upload-form__select-btn', for: 'image3' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image3'
                  選択
                #image3_rmv.upload-form__remove-btn 削除
                #image3_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑤ 
                = fi.label :image, class: 'upload-form__select-btn', for: 'image4' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image4'
                  選択
                #image4_rmv.upload-form__remove-btn 削除
                #image4_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑥
                = fi.label :image, class: 'upload-form__select-btn', for: 'image5' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image5'
                  選択
                #image5_rmv.upload-form__remove-btn 削除
                #image5_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑦
                = fi.label :image, class: 'upload-form__select-btn', for: 'image6' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image6'
                  選択
                #image6_rmv.upload-form__remove-btn 削除
                #image6_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑧
                = fi.label :image, class: 'upload-form__select-btn', for: 'image7' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image7'
                  選択
                #image7_rmv.upload-form__remove-btn 削除
                #image7_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑨
                = fi.label :image, class: 'upload-form__select-btn', for: 'image8' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image8'
                  選択
                #image8_rmv.upload-form__remove-btn 削除
                #image8_name.upload-form__name
              %li.upload-form
                %p.upload-form__num ⑩
                = fi.label :image, class: 'upload-form__select-btn', for: 'image9' do
                  = fi.file_field :image, multiple: true, class: 'upload-form__select-btn--input_tag', id: 'image9'
                  選択
                #image9_rmv.upload-form__remove-btn 削除
                #image9_name.upload-form__name
        .item
          = f.label :name, '商品名', class: 'item__title'
          %span.required 必須
          = f.text_field :name, class: 'item__text', placeholder: '商品名（必須40文字まで）'
          = f.label :discription, '商品の説明', class: 'item__title'
          %span.required 必須
          = f.text_area :description, class: 'item__textarea', placeholder: '商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
        .detail
          %h3.detail__title 商品の詳細
          .detail__form
            .category
              = f.label :categories, 'カテゴリー', class: 'category__name'
              %span.required 必須
              .category__form
                = f.collection_select :category_id, @parents_categories, :id, :name, {prompt: "---"}, {class: 'form-box', id: 'parent_category'}
            .size
              = f.label :size, 'サイズ', class: 'size__name'
              %span.required 必須
              .size__form
                = f.select :size, Item.sizes.keys.map { |k| [t("enums.item.size.#{k}"), k]}, { include_blank: "---", selected: "---" }, {class: 'form-box'}
            .brand
              = fields_for @brand do |fb|
                = fb.label :name, 'ブランド' ,class: 'brand__name'
                %span.required 任意
                .brand__form
                  = fb.text_field :name, class: 'form-box', placeholder: '例）シャネル'
            .condition
              = f.label :condition, '商品の状態' ,class: 'condition__name'
              %span.required 必須
              .condition__form
                = f.select :condition, Item.conditions.keys.map { |k| [t("enums.item.condition.#{k}"), k]}, { prompt: "---"}, {class: 'form-box'}
        .delivery
          %h3.delivery__title 配送について
          .delivery__form
            .postage-burden
              = f.label :postage_burden, '配送料の負担', class: 'postage-burden__name'
              %span.required 必須
              .postage-burden__form
                = f.select :postage_burden, Item.postage_burdens.keys.map { |k| [t("enums.item.postage_burden.#{k}"), k]}, { prompt: "---"}, {class: 'form-box'}
            .sending-method
              = f.label :sending_method, '配送の方法', class: 'postage-burden__name'
              %span.required 必須
              .sending-method__form
                = f.select :sending_method, Item.sending_methods.keys.map { |k| [t("enums.item.sending_method.#{k}"), k]}, { prompt: "---"}, {class: 'form-box'}
            .prefecture-from
              = f.label :prefecture_from, '発送元の地域', class: 'prefecture-from__name'
              %span.required 必須
              .prefecture-from__form
                = f.collection_select :prefecture_from, Pref.all, :id, :name, {prompt: "---"}, {class: 'form-box'}
            .shipping-date
              = f.label :shipping_date, '発送までの日数', class: 'shipping-date__name'
              %span.required 必須
              .shipping-date__form
                = f.select :shipping_date, Item.shipping_dates.keys.map{|k| [t("enums.item.shipping_date.#{k}"), k]}, { prompt: '---'}, {class: 'form-box'}
        .selling-price
          %h3.selling-price__title 販売価格(300〜9,999,999)
          %ul.selling-price__form
            %li.price
              %div
                = f.label :price, '価格', class: 'price__name'
                %span.required 必須
              %div.price__form
                %p.yen ¥
                = f.text_field :price, class: 'input', id: 'input_item_price', placeholder: '例）300'
            %li.fee
              .fee__left 販売手数料(10%)
              #item_fee.fee__right -
            %li.profit
              .profit__left 販売利益
              #item_profit.sprofit__right -
        .btn-box
          %div.btn-box__attention
            %p
              = link_to '禁止されている出品', '#', class: 'attention-link'
              、
              = link_to '行為', '#', class: 'attention-link'
              を必ずご確認ください。
            %p
              また、ブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売', '#', class: 'attention-link'
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to '加盟店規約', '#', class: 'attention-link'
              に同意したことになります。
          = f.submit '出品する', class: 'list-btn'
          = link_to('もどる', root_path, class: 'back-btn')
= render "devise/user/user_footer"